In [156]:
import pandas as pd
import numpy as np

In [157]:
data_dir = "./data/demo_r_gind3_1_Data.csv"

In [169]:


data = pd.DataFrame.from_csv(data_dir, encoding = "ISO-8859-1")
data.index = pd.Index(map(lambda x: x.year, data.index))
data = data.reset_index()
data = data.drop([data.columns[3], data.columns[5]], axis=1)
data = data.rename(columns={"index": "Year"})
data.head()

   Year    GEO                                          GEO_LABEL       Value
0  2000     BE                                            Belgium  10,239,085
1  2000    BE1  Région de Bruxelles-Capitale / Brussels Hoofds...     959,318
2  2000   BE10  Région de Bruxelles-Capitale / Brussels Hoofds...     959,318
3  2000  BE100  Arr. de Bruxelles-Capitale / Arr. van Brussel-...     959,318
4  2000    BE2                                      Vlaams Gewest   5,940,251

In [195]:
# Get BE Year 2000
data[(data["Year"] == 2000) & (data["GEO"] == "BE")].iloc[0].Value

'10,239,085'

In [196]:
# Get BE Year 2001
data[(data["Year"] == 2001) & (data["GEO"] == "BE")].iloc[0].Value

'10,263,414'

In [175]:
list_per_code = data.groupby("GEO").agg(lambda x: list(x))
list_per_code = list_per_code.drop(["Year", "GEO_LABEL"], axis=1)
list_per_code.head()

                                                   Value
GEO
AL     [3,058,497, 3,063,318, 3,057,018, 3,044,993, 3...
AL0    [:, :, 3,057,018, 3,044,993, 3,034,231, 3,019,...
AL01   [:, :, :, :, :, :, :, :, :, :, :, :, 861,058, ...
AL011  [:, :, :, :, :, :, :, :, :, :, :, :, 140,956, ...
AL012  [:, :, :, :, :, :, :, :, :, :, :, :, 271,947, ...

In [185]:
# Get AL year 2000
list_per_code.loc["BE"][0][0]

'10,239,085'

In [184]:
# Get AL year 2001
list_per_code.loc["BE"][0][1]

'10,263,414'