In [1]:
import pandas as pd

In [2]:
data_dir = "./data/demo_r_pjangroup.tsv"

In [4]:
pd.DataFrame.from_csv(data_dir, sep='\t')

,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,...,1999,1998,1997,1996,1995,1994,1993,1992,1991,1990
"unit,sex,age,geo\time",,,,,,,,,,,,,,,,,,,,,
"NR,F,TOTAL,AL",1431715,1423050,1417141,1424597,1430827,1437193,1444234,1451691,1459025,1468935,...,:,:,:,:,:,:,:,:,:,:
"NR,F,TOTAL,AL0",1431715,1423050,1417141,1424597,1430827,1437193,1444234,1451691,1459025,1468935,...,:,:,:,:,:,:,:,:,:,:
"NR,F,TOTAL,AL01",405598,405835,416845,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
"NR,F,TOTAL,AL02",585530,574010,552949,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
"NR,F,TOTAL,AL03",440587,443205,454906,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
"NR,F,TOTAL,ALX",0,:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
"NR,F,TOTAL,ALXX",0,:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
"NR,F,TOTAL,AT",4483749,4460424,4427918,4384529,4352447,4328238,4309977,4296293,4285442,4278068,...,4126432,4122811,4120947,4116117,4112289,4107857,4089274,4052348,4014682,3989903
"NR,F,TOTAL,AT1",1964998,1952123,1934748,1909925,1891217,1876351,1863066,1854135,1845858,1839514,...,1745752,1745041,1746195,1745115,1745427,1747041,1739459,1725294,1710008,1700829
"NR,F,TOTAL,AT11",149016,148416,148052,147246,146980,146694,146224,145579,145017,144528,...,141744,142008,142232,142371,142264,141890,141706,141157,140071,139775
"NR,F,TOTAL,AT12",847971,845249,839555,832975,828087,824527,823091,821187,819527,818188,...,784028,782265,780826,780046,778244,775697,772563,765016,758595,752424
"NR,F,TOTAL,AT13",968011,958458,947141,929704,916150,905130,893751,887369,881314,876798,...,819980,820768,823137,822698,824919,829454,825190,819121,811342,808630
"NR,F,TOTAL,AT2",915571,914535,911819,907636,905201,903847,903834,903867,904071,905108,...,899618,900191,900704,901583,901475,901119,900286,894671,890277,889103
"NR,F,TOTAL,AT21",287410,287516,287033,286371,285797,285872,286351,286798,287422,288294,...,290118,290065,290184,290320,289540,288999,288272,285421,283082,281917
"NR,F,TOTAL,AT22",628161,627019,624786,621265,619404,617975,617483,617069,616649,616814,...,609500,610126,610520,611263,611935,612120,612014,609250,607195,607186
"NR,F,TOTAL,AT3",1603180,1593766,1581351,1566968,1556029,1548040,1543077,1538291,1535513,1533446,...,1481062,1477579,1474048,1469419,1465387,1459697,1449529,1432383,1414397,1399971
"NR,F,TOTAL,AT31",742757,738861,733791,727840,722883,720064,718572,717375,717201,716999,...,700129,699175,698765,698241,697721,695867,691529,683873,675668,670153
"NR,F,TOTAL,AT32",282253,280536,278648,276378,274675,273680,272648,271855,271178,271165,...,264392,264264,263463,262300,261408,260321,258024,253624,250219,246020
"NR,F,TOTAL,AT33",380734,378448,375090,370936,368128,365217,363430,361611,360160,358975,...,340916,339256,337684,335443,333603,331687,328948,325329,321350,318816
"NR,F,TOTAL,AT34",197436,195921,193822,191814,190343,189079,188427,187450,186974,186307,...,175625,174884,174136,173435,172655,171822,171028,169557,167160,164982
"NR,F,TOTAL,BE",5784371,5762455,5741853,5713206,5687048 b,5665118,5635601 b,5598920 b,5527684,5484429,...,5220034,5209592,5198446,5184262,5175903,5160407,5144847,5122765,5106290,5087683
"NR,F,TOTAL,BE1",614177,611616,611496,605416,600073 b,596155,589404 b,582295 b,562751,552282,...,499503,499494,499006,497984,500008,499724,501042,502540,507530,510558
"NR,F,TOTAL,BE10",614177,611616,611496,605416,600073 b,596155,589404 b,582295 b,562751,552282,...,499503,499494,499006,497984,500008,499724,501042,502540,507530,510558
"NR,F,TOTAL,BE2",3313318,3297353,3280662,3264030,3248700 b,3235108,3220347 b,3200462 b,3166649,3144708,...,3003287,2995742,2988109,2978229,2969483,2958990,2947602,2932631,2919226,2905220
"NR,F,TOTAL,BE21",931849,926733,921759,916658,911543 b,907233,901723 b,894659 b,881873,874832,...,832039,830576,829098,826878,825260,823010,820451,816398,813481,810015
"NR,F,TOTAL,BE22",437528,435961,434332,432143,430222 b,428628,426757 b,424405 b,420639,417746,...,393517,391644,389439,386935,384824,382394,379608,376465,373652,370933
"NR,F,TOTAL,BE23",762422,758643,754237,749908,746241 b,742282,739346 b,734817 b,726956,720858,...,690798,689699,688276,686498,684753,683498,682243,680124,678164,676231
"NR,F,TOTAL,BE24",580092,576386,572406,568478,565326 b,562428,558953 b,554984 b,549209,545264,...,515559,513564,511583,508852,506593,503081,499765,496517,493318,489422
"NR,F,TOTAL,BE25",601427,599630,597928,596843,595368 b,594537,593568 b,591597 b,587972,586008,...,571374,570259,569713,569066,568053,567007,565535,563127,560611,558619
"NR,F,TOTAL,BE3",1856876,1853486,1849695,1843760,1838275 b,1833855,1825850 b,1816163 b,1798284,1787439,...,1717244,1714356,1711331,1708049,1706412,1701693,1696203,1687594,1679534,1671905
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"NR,T,Y_OPEN,UKH3",412,407,417,401,385,369,353,14744,13716,12913,...,30900,29700,28700,28100,27400,26500,25400,24200,:,:
"NR,T,Y_OPEN,UKI",1559,1553,1521,1478,1403,1353,1285,42396,40571,39030,...,115800,114700,112700,111200,109000,106700,103600,99700,:,:
"NR,T,Y_OPEN,UKI3",190,179,173,168,162,148,150,5258,5285,5174,...,:,:,:,:,:,:,:,:,:,:
"NR,T,Y_OPEN,UKI4",233,242,228,223,207,213,180,6648,6620,6405,...,:,:,:,:,:,:,:,:,:,:
"NR,T,Y_OPEN,UKI5",350,349,349,339,322,308,308,10525,9729,9215,...,:,:,:,:,:,:,:,:,:,:
"NR,T,Y_OPEN,UKI6",279,280,272,262,255,240,232,8442,7973,7663,...,:,:,:,:,:,:,:,:,:,:
"NR,T,Y_OPEN,UKI7",507,503,499,486,457,444,415,11523,10964,10573,...,:,:,:,:,:,:,:,:,:,:
"NR,T,Y_OPEN,UKJ",2478,2522,2472,2421,2319,2241,2129,76768,71466,67871,...,168200,163600,159700,156700,153000,149000,144100,138200,:,:
"NR,T,Y_OPEN,UKJ1",528,538,529,508,476,460,431,15601,14582,13875,...,32400,31300,30300,29600,28700,27700,26500,25200,:,:
"NR,T,Y_OPEN,UKJ2",987,992,973,960,936,910,875,30024,28059,26897,...,69300,67700,66300,65300,63900,62500,60700,58400,:,:
"NR,T,Y_OPEN,UKJ3",529,541,533,524,484,465,443,16831,15687,14783,...,34900,33700,32700,32000,31100,30200,29100,27900,:,:
"NR,T,Y_OPEN,UKJ4",434,451,437,429,423,406,380,14312,13138,12316,...,31600,30900,30300,29900,29300,28700,27800,26700,:,:
"NR,T,Y_OPEN,UKK",1730,1739,1734,1718,1634,1556,1525,53198,49493,47084,...,118400,115000,111800,109200,105800,102100,98300,94100,:,:
"NR,T,Y_OPEN,UKK1",653,650,654,650,608,575,571,19510,17966,16907,...,42700,41500,40300,39400,38400,37200,36000,34700,:,:
"NR,T,Y_OPEN,UKK2",494,492,494,487,468,444,427,15249,14077,13380,...,33800,32800,31900,31100,30000,28800,27700,26300,:,:
"NR,T,Y_OPEN,UKK3",198,199,197,193,188,182,174,5557,5345,5188,...,12400,12000,11600,11300,10900,10400,9900,9400,:,:
"NR,T,Y_OPEN,UKK4",385,398,389,388,370,355,353,12882,12105,11609,...,29400,28700,28000,27400,26600,25700,24700,23700,:,:
"NR,T,Y_OPEN,UKL",747,735,701,696,663,640,628,25063,23403,21925,...,56800,55800,54400,53100,51500,49900,48100,46000,:,:
"NR,T,Y_OPEN,UKL1",455,447,427,428,411,398,398,16448,15334,14370,...,37600,36900,36000,35100,34000,32900,31800,30400,:,:
"NR,T,Y_OPEN,UKL2",292,288,274,268,252,242,230,8615,8069,7555,...,19200,18900,18400,17900,17500,17000,16300,15600,:,:
"NR,T,Y_OPEN,UKM",853,908,913,900,858,800,785,33727,30480,28564,...,24947,24072,23637,73862,76997,79924,73111,69829,:,:
"NR,T,Y_OPEN,UKM2",:,359,359,362,345,14659,14119,13208,11976,11240,...,10272,10007,9641,31958,9105,30495,29572,:,:,:
"NR,T,Y_OPEN,UKM3",:,371,361,378,358,15709,15208,14231,12819,12015,...,10227,10048,9646,33150,9248,31356,30779,:,:,:
"NR,T,Y_OPEN,UKM5",71,78,75,78,73,68,69,2834,2582,2444,...,:,:,:,:,:,:,:,:,:,:
"NR,T,Y_OPEN,UKM6",89,99,101,94,88,83,84,3454,3103,2865,...,:,:,:,:,:,:,:,:,:,:
"NR,T,Y_OPEN,UKM7",323,343,342,333,315,294,284,:,:,:,...,:,:,:,:,:,:,:,:,:,:
"NR,T,Y_OPEN,UKM8",210,229,231,229,221,206,200,:,:,:,...,:,:,:,:,:,:,:,:,:,:
"NR,T,Y_OPEN,UKM9",160,159,164,166,161,149,148,:,:,:,...,:,:,:,:,:,:,:,:,:,:
"NR,T,Y_OPEN,UKN",282,281,274,265,250,237,225,10141,9510,9034,...,7493,7449,7293,18763,18456,18214,17934,17566,:,:
"NR,T,Y_OPEN,UKN0",282,281,274,265,250,237,225,10141,9510,9034,...,7493,7449,7293,18763,18456,18214,17934,17566,:,: