In [1]:
import pandas as pd
import numpy as np
from scipy import stats

In [2]:
data_dir = "./data/demo_r_gind3_1_Data.csv"

In [3]:


data = pd.DataFrame.from_csv(data_dir, encoding = "ISO-8859-1")
data.index = pd.Index(map(lambda x: x.year, data.index))
data = data.reset_index()
data = data.drop([data.columns[3], data.columns[5]], axis=1)
data = data.rename(columns={"index": "Year"})
data.head()

/home/alex/.local/lib/python3.5/site-packages/ipykernel_launcher.py:3: FutureWarning: from_csv is deprecated. Please use read_csv(...) instead. Note that some of the default arguments are different, so please refer to the documentation for from_csv when changing your function calls
  This is separate from the ipykernel package so we can avoid doing imports until

   Year    GEO                                          GEO_LABEL       Value
0  2000     BE                                            Belgium  10,239,085
1  2000    BE1  Région de Bruxelles-Capitale / Brussels Hoofds...     959,318
2  2000   BE10  Région de Bruxelles-Capitale / Brussels Hoofds...     959,318
3  2000  BE100  Arr. de Bruxelles-Capitale / Arr. van Brussel-...     959,318
4  2000    BE2                                      Vlaams Gewest   5,940,251

In [4]:
# Get BE Year 2000
data[(data["Year"] == 2000) & (data["GEO"] == "BE")].iloc[0].Value

'10,239,085'

In [5]:
# Get BE Year 2001
data[(data["Year"] == 2001) & (data["GEO"] == "BE")].iloc[0].Value

'10,263,414'

In [6]:
list_per_code = data.groupby("GEO").agg(lambda x: x.tolist())
list_per_code = list_per_code.drop(["Year", "GEO_LABEL"], axis=1)
list_per_code.head(5)

                                                   Value
GEO
AL     [3,058,497, 3,063,318, 3,057,018, 3,044,993, 3...
AL0    [:, :, 3,057,018, 3,044,993, 3,034,231, 3,019,...
AL01   [:, :, :, :, :, :, :, :, :, :, :, :, 861,058, ...
AL011  [:, :, :, :, :, :, :, :, :, :, :, :, 140,956, ...
AL012  [:, :, :, :, :, :, :, :, :, :, :, :, 271,947, ...

In [7]:
def list_of_nums(x):
    lst = []
    for i in x:
        if i == ':':
            lst.append(np.nan)
        else:
            lst.append(int(i.replace(",", "")))
    return lst
all_data = list_per_code.Value.apply(lambda x :pd.Series(list_of_nums(x)))
cols = list(range(2000, 2019))
all_data.columns = cols
all_data.replace()
all_data.head(5)

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
GEO,,,,,,,,,,,,,,,,,,,
AL,3058497.0,3063318.0,3057018.0,3044993.0,3034231.0,3019634.0,3003329.0,2981755.0,2958266.0,2936355.0,2918674.0,2907361.0,2903008.0,2897770.0,2892394.0,2885796.0,2875592.0,2876591.0,2870324.0
AL0,NaN,NaN,3057018.0,3044993.0,3034231.0,3019634.0,3003329.0,2981755.0,2958266.0,2936355.0,2918674.0,2907361.0,2903008.0,2897770.0,2892394.0,2885796.0,2875592.0,2876591.0,2870324.0
AL01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,861058.0,853084.0,844921.0,836448.0,830981.0,826904.0,819793.0
AL011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,140956.0,137722.0,134332.0,131054.0,129056.0,125579.0,120978.0
AL012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,271947.0,274029.0,276058.0,277989.0,280205.0,284823.0,289626.0

In [8]:
nuts_val = np.array(list(map(lambda x: sum(c.isdigit() for c in x), all_data.index.values)))
nuts_val

array([0, 1, 2, ..., 2, 2, 2])

In [9]:
no_num_index = all_data[nuts_val == 0]
no_num_index.head()

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
GEO,,,,,,,,,,,,,,,,,,,
AL,3058497.0,3063318.0,3057018.0,3044993.0,3034231.0,3019634.0,3003329.0,2981755.0,2958266.0,2936355.0,2918674.0,2907361.0,2903008.0,2897770.0,2892394.0,2885796.0,2875592.0,2876591.0,2870324.0
AT,8002186.0,8020946.0,8063640.0,8100273.0,8142573.0,8201359.0,8254298.0,8282984.0,8307989.0,8335003.0,8351643.0,8375164.0,8408121.0,8451860.0,8507786.0,8584926.0,8700471.0,8772865.0,8822267.0
BE,10239085.0,10263414.0,10309725.0,10355844.0,10396421.0,10445852.0,10511382.0,10584534.0,10666866.0,10753080.0,10839905.0,11000638.0,11075889.0,11137974.0,11180840.0,11237274.0,11311117.0,11351727.0,11398589.0
BG,8190876.0,8149468.0,7868815.0,7805506.0,7745147.0,7688573.0,7629371.0,7572673.0,7518002.0,7467119.0,7421766.0,7369431.0,7327224.0,7284552.0,7245677.0,7202198.0,7153784.0,7101859.0,7050034.0
CH,7164444.0,7204055.0,7255653.0,7313853.0,7364148.0,7415102.0,7459128.0,7508739.0,7593494.0,7701856.0,7785806.0,7870134.0,7954662.0,8039060.0,8139631.0,8237666.0,8327126.0,8419550.0,8484130.0

In [10]:
len_of_tag = np.array(list(map(len, no_num_index.index.values)))
nuts0 = no_num_index[len_of_tag == 2]
nuts0_letter = no_num_index[len_of_tag == 3]
nuts0_letter.to_csv("./data/nuts0_letter.csv")
nuts0.to_csv("./data/nuts0.csv")
nuts0.head()

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
GEO,,,,,,,,,,,,,,,,,,,
AL,3058497.0,3063318.0,3057018.0,3044993.0,3034231.0,3019634.0,3003329.0,2981755.0,2958266.0,2936355.0,2918674.0,2907361.0,2903008.0,2897770.0,2892394.0,2885796.0,2875592.0,2876591.0,2870324.0
AT,8002186.0,8020946.0,8063640.0,8100273.0,8142573.0,8201359.0,8254298.0,8282984.0,8307989.0,8335003.0,8351643.0,8375164.0,8408121.0,8451860.0,8507786.0,8584926.0,8700471.0,8772865.0,8822267.0
BE,10239085.0,10263414.0,10309725.0,10355844.0,10396421.0,10445852.0,10511382.0,10584534.0,10666866.0,10753080.0,10839905.0,11000638.0,11075889.0,11137974.0,11180840.0,11237274.0,11311117.0,11351727.0,11398589.0
BG,8190876.0,8149468.0,7868815.0,7805506.0,7745147.0,7688573.0,7629371.0,7572673.0,7518002.0,7467119.0,7421766.0,7369431.0,7327224.0,7284552.0,7245677.0,7202198.0,7153784.0,7101859.0,7050034.0
CH,7164444.0,7204055.0,7255653.0,7313853.0,7364148.0,7415102.0,7459128.0,7508739.0,7593494.0,7701856.0,7785806.0,7870134.0,7954662.0,8039060.0,8139631.0,8237666.0,8327126.0,8419550.0,8484130.0

In [11]:
nuts1 = all_data[nuts_val == 1]
nuts1.to_csv("./data/nuts1.csv")
nuts1.head()

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
GEO,,,,,,,,,,,,,,,,,,,
AL0,NaN,NaN,3057018.0,3044993.0,3034231.0,3019634.0,3003329.0,2981755.0,2958266.0,2936355.0,2918674.0,2907361.0,2903008.0,2897770.0,2892394.0,2885796.0,2875592.0,2876591.0,2870324.0
AT1,3359846.0,3369328.0,3392463.0,3418657.0,3444493.0,3479550.0,3512077.0,3529875.0,3547701.0,3565870.0,3579589.0,3596910.0,3617321.0,3646529.0,3679647.0,3722471.0,3784928.0,3825277.0,3852119.0
AT2,1743626.0,1742012.0,1748050.0,1747938.0,1750194.0,1755706.0,1760131.0,1761876.0,1763416.0,1764257.0,1763043.0,1763329.0,1764723.0,1766444.0,1771127.0,1779211.0,1792494.0,1798375.0,1801112.0
AT3,2898714.0,2909606.0,2923127.0,2933678.0,2947886.0,2966103.0,2982090.0,2991233.0,2996872.0,3004876.0,3009011.0,3014925.0,3026077.0,3038887.0,3057012.0,3083244.0,3123049.0,3149213.0,3169036.0
BE1,959318.0,964405.0,978384.0,992041.0,999899.0,1006749.0,1018804.0,1031215.0,1048491.0,1068532.0,1089538.0,1136778.0,1151317.0,1165208.0,1172751.0,1184101.0,1201285.0,1199095.0,1205492.0

In [12]:
nuts2 = all_data[nuts_val == 2]
nuts2.to_csv("./data/nuts2.csv")
nuts2.head()

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
GEO,,,,,,,,,,,,,,,,,,,
AL01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,861058.0,853084.0,844921.0,836448.0,830981.0,826904.0,819793.0
AL02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1083768.0,1097258.0,1111160.0,1124817.0,1130587.0,1146183.0,1162544.0
AL03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,958182.0,947428.0,936313.0,924531.0,914024.0,903504.0,887987.0
AT11,276226.0,275956.0,276673.0,276542.0,276792.0,278032.0,279127.0,280062.0,280977.0,282777.0,283697.0,284581.0,285782.0,286691.0,287416.0,288356.0,291011.0,291942.0,292675.0
AT12,1535083.0,1539416.0,1544667.0,1549269.0,1557291.0,1568949.0,1580501.0,1588567.0,1595503.0,1602958.0,1605897.0,1609474.0,1614455.0,1618592.0,1625485.0,1636778.0,1653691.0,1665753.0,1670668.0

In [13]:
nuts3 = all_data[nuts_val == 3]
nuts3.to_csv("./data/nuts3.csv")
nuts3.head()

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
GEO,,,,,,,,,,,,,,,,,,,
AL011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,140956.0,137722.0,134332.0,131054.0,129056.0,125579.0,120978.0
AL012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,271947.0,274029.0,276058.0,277989.0,280205.0,284823.0,289626.0
AL013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,87762.0,86082.0,84306.0,82428.0,81294.0,79559.0,77395.0
AL014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,137782.0,135703.0,133748.0,131829.0,130258.0,129019.0,126800.0
AL015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,222611.0,219548.0,216477.0,213148.0,210168.0,207924.0,204994.0

In [14]:
len(nuts3) - nuts3.count(), nuts3.values.shape

(2000    349
 2001    260
 2002    263
 2003    192
 2004    190
 2005    171
 2006    171
 2007    160
 2008    103
 2009    103
 2010     89
 2011     89
 2012     69
 2013     57
 2014     25
 2015     25
 2016     25
 2017      0
 2018    137
 dtype: int64, (982, 19))

In [222]:
ind = nuts0.index.values
X = nuts0.values
y, X = X[:, -1], X[:, :-1]
y.shape, X.shape

((37,), (37, 18))

In [223]:
def get_linreg_preds(X, start_year, end_year):
    res = []
    xs = np.arange(start_year, end_year)
    for ys in X:
        slope, intercept, r_value, p_value, std_err = stats.linregress(xs,ys)
        squared_error = np.square(y[0] - (intercept + slope * end_year))
        res.append(round(intercept + slope * end_year))
    return np.array(res)

In [224]:
linreg_preds = get_linreg_preds(X, 2000, 2018)

In [225]:
n3data = nuts3.loc[:, 2005:2017].dropna().values

In [235]:
linreg_preds_nuts3 = get_linreg_preds(n3data[:, :-1], 2005, 2017)
np.mean(np.square((linreg_preds_nuts3 - n3data[:, -1])/n3data[:, -1]))

0.00028161393898762924

In [226]:
n3data, n3data.shape

(array([[ 37522.,  37413.,  37481., ...,  37622.,  37692.,  37752.],
        [143094., 144205., 145118., ..., 153637., 155809., 156735.],
        [ 97416.,  97509.,  97463., ...,  97097.,  97510.,  97455.],
        ...,
        [661212., 660951., 660765., ..., 655359., 653024., 651509.],
        [797899., 800228., 802659., ..., 819977., 820697., 822310.],
        [774356., 777090., 779663., ..., 795565., 796650., 798103.]]),
 (811, 13))

In [227]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import normalize
n3data_norm = (n3data - np.mean(n3data))/np.var(n3data)#normalize(n3data, axis=1, norm='l1')
X, Y = n3data_norm[:, :-1], n3data_norm[:, -1]
X_train, X_test, y_train, y_test = train_test_split(X, Y)

In [268]:
import torch
import torch.nn as nn
import torch.nn.functional as F

class Net(nn.Module):
    def __init__(self, n_feature, n_hidden, n_output):
        super(Net, self).__init__()
        self.hidden = torch.nn.Linear(n_feature, n_hidden)   # hidden layer
        self.predict = torch.nn.Linear(n_hidden, n_output)   # output layer

    def forward(self, x):
        x = F.relu(self.hidden(x))      # activation function for hidden layer
        x = self.predict(x)             # linear output
        return x


net = Net(1, 1, 1)
print(net)

Net(
  (hidden): Linear(in_features=1, out_features=1, bias=True)
  (predict): Linear(in_features=1, out_features=1, bias=True)
)

In [273]:
device = torch.device('cpu')
x = torch.from_numpy(X_train).float()
y = torch.from_numpy(y_train).float()
print(x.size())
print(y.size())
model = Net(12, 6, 1)
loss_fn = torch.nn.MSELoss(reduction='mean')
model

torch.Size([608, 12])
torch.Size([608])

Net(
  (hidden): Linear(in_features=12, out_features=6, bias=True)
  (predict): Linear(in_features=6, out_features=1, bias=True)
)

In [274]:
learning_rate = 1e-2
for t in range(1000):
    y_pred = model(x)

    loss = loss_fn(y_pred, y)
    if t % 100 == 0:
        print(t, loss.item())

    model.zero_grad()

    loss.backward()

    with torch.no_grad():
        for param in model.parameters():
            param.data -= learning_rate * param.grad

0 0.09254413098096848
100 0.0010004823561757803
200 9.824393600865733e-06
300 9.539967038563191e-08
400 9.296720060447683e-10
500 1.3417110304725366e-11
600 4.86369755234306e-12
700 4.745244995552067e-12
800 4.745244995552067e-12
900 4.745244995552067e-12

In [275]:
def score(x, y):
    x = torch.from_numpy(x).float()
    x = model(x).detach().numpy().reshape(x.size()[0])
    y = y * np.var(n3data) + np.mean(n3data)
    y_pred = x * np.var(n3data) + np.mean(n3data)
    return np.mean(np.square((y_pred - y)/y)), y_pred
score(X_train, y_train)[0]

9.00788940731023

In [276]:
score(X_test, y_test)[0]

3.7858463639531736

In [243]:
for i in range(10):
    print(score(X_test, y_test)[1][i], y_test[i] * np.var(n3data) + np.mean(n3data))

335464.88 191685.0
352113.8 466947.0
328805.3 53556.0
372092.56 761763.0
332135.1 122698.0
332135.1 200716.0
342124.47 289584.0
405390.44 1348462.0
352113.8 426140.0
345454.25 321377.0